a.btn,
button.btn {
  @include button($cobalt, $white, 4px);
  @include transition(all,0.25s,ease,0);
  &.btn-primary {
    border: 1px solid $white;
    border-radius: 4px;
    color: $white;
    background-color: $cobalt;
    padding: 6px 10px 8px;
    cursor: pointer; 
    &:hover {
      background-color: $charcoal;
    }
  }
  &.btn-success {  }
  &.btn-warning {  }
  &.btn-info {  }
  &.btn-default { 
    border: 1px solid $charcoal;
    border-radius: 4px;
    color: $charcoal;
    background-color: $white;
    padding: 6px 10px 8px;
    cursor: pointer;
    &:hover {
      background-color: $charcoal;
      color: $white;
    }
  }
  &.btn-xs { padding: 4px 6px 5px; }
  &.btn-large { padding: 15px 25px; }
}
