<section ng-controller="UserCtrl">
  <!-- All users list -->
  <div class="user index">
    <h1>All Users</h1>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{::user.first_name}}</td>
          <td>{{::user.last_name}}</td>
          <td>{{::titles[user.title_id - 1].name}}</td>
          <td><a href="javascript:void(0)" ng-click="updateUser(user)">Update</a> | <a href="javascript:void(0)" ng-click="viewUser(user)">view</a> | <a href="javascript:void(0)" ng-click="deleteUser(user)">delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- currentUser show -->
  <div ng-show="currentUser" class="user show">
    <h1>{{currentUser.first_name}} {{currentUser.last_name}}</h1>
    <p>id: {{currentUser.id}} | role: {{currentUser.role}} | title: {{titles[currentUser.title_id - 1].name}}
    </p>
    <ul>
      <li ng-repeat="skill in currentUser.skills">{{skill.name}}</li>
    </ul>
  </div>

  <hr>
  <!-- create a new user -->
  <div class="user create">
    <h1>Create a new user</h1>
    <form role="form" name="createUserForm" ng-submit="upsertUser(user)" novalidate>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="first name" ng-model="user.first_name">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="first name" ng-model="user.last_name">
      </div>
      <div class="form-group">
        <label for="titles">Title for user</label>
        <select name="titles" ng-model="user.title_id" ng-options="title.id as title.name for title in titles" required>
          <option value="">Select One</option>
        </select>
      </div>
      <div ng-repeat="skill in skills">
        <input type="checkbox" ng-checked="hasSkill(skill)" ng-model="selection.ids[skill.id]" name="{{skill.name}}" >
        <label for="{{skill.name}}">{{skill.name}}</label>
      </div>
      <button ng-click="reset()">Reset</button>
      <button type="submit" ng-disabled="createUserForm.$invalid">Submit</button>
    </form>
  </div>
</section>